*.pyc
*.npy
*.pth
work_dirs/
val/
# ckpt/
data/
*.out
*.so
*.o
*ninja*
/data
/deform_attn_3d/build
/deform_attn_3d/extension_example.egg-info
/deform_attn_3d/*.so
/projects/mmdet3d_plugin/models/bev_pool_v2/bev_pool_v2_ext.egg-info
/projects/mmdet3d_plugin/models/bev_pool_v2/*.so
/projects/mmdet3d_plugin/models/bev_pool_v2/build
*.ipynb
/work_*
/projects/configs_*/
/val
ckpt/
NuScene/
/projects/mmdet3d_plugin/models/DFA3D/build
/projects/mmdet3d_plugin/models/DFA3D/.eggs
/projects/mmdet3d_plugin/models/DFA3D/dfa3D.egg-info
/projects/mmdet3d_plugin/models/DFA3D/dist
core*
*.egg*